USE [Smile_Logistics]
GO
/****** Object:  Table [dbo].[Agent_Prepaids]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent_Prepaids](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[AgentID] [int] NOT NULL,
	[PaidDate] [datetime] NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Status] [int] NOT NULL,
	[TotalRequest] [float] NOT NULL,
	[TotalPaid] [float] NOT NULL,
	[AttachedFiles] [ntext] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Prepaids] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Customer_Prepaids]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Prepaids](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Money] [float] NOT NULL,
	[Description] [ntext] NOT NULL,
	[PrepaidDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Customer_Prepaids] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomerQuotation_Customs]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerQuotation_Customs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Expire_Start] [datetime] NOT NULL,
	[Expire_End] [datetime] NOT NULL,
	[IsUSD] [bit] NOT NULL,
	[USDRate] [float] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Total_In] [float] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_Total]  DEFAULT ((0)),
	[Total_Out] [float] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_Total_Out]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_LastestUpdated]  DEFAULT (getdate()),
	[Description] [ntext] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_Description]  DEFAULT (''),
	[DecreasePercentForSecondCont] [float] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_DecreasePercentForSecondCont]  DEFAULT ((0)),
	[JobID] [int] NOT NULL CONSTRAINT [DF_CustomerQuotation_Customs_JobID]  DEFAULT ((1)),
 CONSTRAINT [PK_CustomerQuotation_Customs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomerQuotation_CustomsDetails]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerQuotation_CustomsDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuotationID] [int] NOT NULL,
	[FeeDetailID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Quantity] [int] NOT NULL CONSTRAINT [DF_CustomerQuotation_CustomsDetails_Quantity]  DEFAULT ((0)),
	[Total] [float] NOT NULL CONSTRAINT [DF_CustomerQuotation_CustomsDetails_Total]  DEFAULT ((0)),
	[Order] [int] NOT NULL CONSTRAINT [DF_CustomerQuotation_CustomsDetails_Order]  DEFAULT ((0)),
 CONSTRAINT [PK_CustomerQuotation_CustomsDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomerQuotation_Routes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerQuotation_Routes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[QuotationID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Expire_Start] [datetime] NOT NULL,
	[Expire_End] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_CustomerQuotation_Routes_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_CustomerQuotation_Routes_LastestUpdated]  DEFAULT (getdate()),
	[IsUSD] [bit] NOT NULL CONSTRAINT [DF_CustomerQuotation_Routes_IsUSD]  DEFAULT ((0)),
	[PlaceStart] [int] NULL,
	[PlaceEnd] [int] NULL,
 CONSTRAINT [PK_CustomerQuotation_Routes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[Prepaids] [float] NOT NULL CONSTRAINT [DF_Customers_Prepaids]  DEFAULT ((0)),
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomsProcess_FeeTypes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomsProcess_FeeTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_CustomsProcess_FeeTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomsProcess_QuotationDetails]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomsProcess_QuotationDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuotationID] [int] NOT NULL,
	[CustomsFeeID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_CustomsProcess_QuotationDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[CustomsProcess_Quotations]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomsProcess_Quotations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpireFrom] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[IsUSD] [bit] NOT NULL CONSTRAINT [DF_CustomsProcess_Quotations_IsUSD]  DEFAULT ((0)),
 CONSTRAINT [PK_CustomsProcess_Quotations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[GoodsTypes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_GoodsTypes_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_GoodsTypes_LastestUpdated]  DEFAULT (getdate()),
 CONSTRAINT [PK_GoodsTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Job_InOutFees]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_InOutFees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[InvoiceNO] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[Money] [float] NOT NULL,
	[AttachedFiles] [ntext] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[IsUSD] [bit] NOT NULL CONSTRAINT [DF_Job_InOutFees_IsUSD]  DEFAULT ((0)),
 CONSTRAINT [PK_Job_InOutFees] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Job_Prepaids]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Prepaids](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[Money] [float] NOT NULL,
	[Description] [ntext] NOT NULL,
	[PrepaidDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
 CONSTRAINT [PK_Job_Prepaids] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Job_QuotationRoutes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_QuotationRoutes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[ExtraFee] [float] NOT NULL,
	[DriverPhoneNumber] [nvarchar](50) NOT NULL,
	[VehicleNO] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[USDRate] [float] NOT NULL,
	[Loads] [float] NOT NULL CONSTRAINT [DF_Job_QuotationRoutes_Loads]  DEFAULT ((0)),
	[PromotionByTransComp] [float] NOT NULL CONSTRAINT [DF_Job_QuotationRoutes_PromotionByTransComp]  DEFAULT ((0)),
	[Total_Out] [float] NOT NULL CONSTRAINT [DF_Job_QuotationRoutes_Total_Out]  DEFAULT ((0)),
	[Total_In] [float] NOT NULL CONSTRAINT [DF_Job_QuotationRoutes_Total_In]  DEFAULT ((0)),
	[PlaceStart] [int] NULL,
	[PlaceEnd] [int] NULL,
	[Quantity] [int] NOT NULL CONSTRAINT [DF_Job_QuotationRoutes_Quantity]  DEFAULT ((0)),
 CONSTRAINT [PK_Job_QuotationRoutes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[InvoiceNO] [nvarchar](500) NOT NULL,
	[BillLadingNO] [nvarchar](500) NOT NULL,
	[TKHQNO] [nvarchar](500) NOT NULL,
	[JobID] [nvarchar](50) NOT NULL,
	[CustomerID] [int] NULL,
	[ProcessedDate] [datetime] NOT NULL,
	[ConsignedDate] [datetime] NOT NULL,
	[IsConsigned] [bit] NOT NULL,
	[IsInformTransportComp] [bit] NOT NULL,
	[IsPayedForTransportComp] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[IsUrgent] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
	[AttachedFiles] [ntext] NOT NULL CONSTRAINT [DF_Jobs_AttachedFiles]  DEFAULT (''),
	[IsPaidFromCustomer] [bit] NOT NULL CONSTRAINT [DF_Jobs_IsPaidFromCustomer]  DEFAULT ((0)),
	[CustomerPrepaids] [float] NOT NULL CONSTRAINT [DF_Jobs_CustomerPrepaids]  DEFAULT ((0)),
	[AgentPrepaids] [float] NOT NULL CONSTRAINT [DF_Jobs_Agent_Prepaids]  DEFAULT ((0)),
	[Total_Transport_In] [float] NOT NULL CONSTRAINT [DF_Jobs_Total_Transport]  DEFAULT ((0)),
	[Total_Customs_In] [float] NOT NULL CONSTRAINT [DF_Jobs_Total_Customs]  DEFAULT ((0)),
	[Total_In] [float] NOT NULL CONSTRAINT [DF_Jobs_Total]  DEFAULT ((0)),
	[Total_Transport_Out] [float] NOT NULL CONSTRAINT [DF_Jobs_Total_Transport_Out]  DEFAULT ((0)),
	[Total_Customs_Out] [float] NOT NULL CONSTRAINT [DF_Jobs_Total_Customs_Out]  DEFAULT ((0)),
	[Total_Out] [float] NOT NULL CONSTRAINT [DF_Jobs_Total_Out]  DEFAULT ((0)),
	[USDRate] [float] NOT NULL CONSTRAINT [DF_Jobs_USDRate]  DEFAULT ((0)),
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Quotation_Routes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotation_Routes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NOT NULL,
	[VehicleLoadID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[IsSamePrice] [bit] NOT NULL,
	[Price_RoundedTrip] [float] NOT NULL,
	[Expire_Start] [datetime] NOT NULL,
	[Expire_End] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_Quotation_Routes_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_Quotation_Routes_LastestUpdated]  DEFAULT (getdate()),
	[IsUSD] [bit] NOT NULL CONSTRAINT [DF_Quotation_Routes_IsUSD]  DEFAULT ((0)),
 CONSTRAINT [PK_Quotation_Routes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sys_Modules]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Modules](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](500) NOT NULL,
	[IconClass] [nvarchar](50) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Description] [ntext] NOT NULL,
	[Actions] [ntext] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Sys_Modules_IsDeleted]  DEFAULT ((0)),
	[ShowInMenu] [bit] NOT NULL CONSTRAINT [DF_Sys_Modules_ShowInMenu]  DEFAULT ((1)),
 CONSTRAINT [PK_Sys_Modules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sys_Permissions]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Permissions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Permissions] [ntext] NOT NULL,
 CONSTRAINT [PK_Sys_Permissions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sys_Roles]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[CanAccessSystemMenu] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Sys_Roles_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Sys_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Sys_Users]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](50) NOT NULL,
	[Lastname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Avatar] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Sys_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[TransportCompanies]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCompanies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_TransportCompanies_LastestUpdated]  DEFAULT (getdate()),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_TransportCompanies_UpdatedBy]  DEFAULT ((0)),
 CONSTRAINT [PK_TransportCompanies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[TransportCompany_Routes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCompany_Routes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransCompID] [int] NOT NULL,
	[StartPoint] [int] NOT NULL,
	[EndPoint] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_TransportCompany_Routes_LastestUpdated]  DEFAULT (getdate()),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_TransportCompany_Routes_UpdatedBy]  DEFAULT ((0)),
 CONSTRAINT [PK_TransportCompany_Routes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[TransportCompany_VehicleType_Loads]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCompany_VehicleType_Loads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransComp_VehicleTypeID] [int] NOT NULL,
	[VehicleLoadID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleType_Loads_IsDeleted]  DEFAULT ((0)),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleType_Loads_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleType_Loads_LastestUpdated]  DEFAULT (getdate()),
 CONSTRAINT [PK_TransportCompany_VehicleType_Loads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[TransportCompany_VehicleTypes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportCompany_VehicleTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransCompID] [int] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleTypes_IsDeleted]  DEFAULT ((0)),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleTypes_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_TransportCompany_VehicleTypes_LastestUpdated]  DEFAULT (getdate()),
 CONSTRAINT [PK_TransportCompany_VehicleTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[TransportPlaces]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportPlaces](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_TransportPlaces_LastestUpdated]  DEFAULT (getdate()),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_TransportPlaces_UpdatedBy]  DEFAULT ((0)),
	[Address] [nvarchar](500) NOT NULL CONSTRAINT [DF_TransportPlaces_Address]  DEFAULT (''),
 CONSTRAINT [PK_TransportPlaces] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[VehicleLoads]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleLoads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[FullLoad] [float] NOT NULL,
	[VehicleTypeID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_VehicleLoads_IsDeleted]  DEFAULT ((0)),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_VehicleLoads_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_VehicleLoads_LastestUpdated]  DEFAULT (getdate()),
 CONSTRAINT [PK_VehicleLoads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[VehicleTypes]    Script Date: 26-Mar-17 23:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
	[GoodsTypeID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_VehicleTypes_IsDeleted]  DEFAULT ((0)),
	[UpdatedBy] [int] NOT NULL CONSTRAINT [DF_VehicleTypes_UpdatedBy]  DEFAULT ((0)),
	[LastestUpdated] [datetime] NOT NULL CONSTRAINT [DF_VehicleTypes_LastestUpdated]  DEFAULT (getdate()),
 CONSTRAINT [PK_VehicleTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[CustomerQuotation_Customs] ON 

INSERT [dbo].[CustomerQuotation_Customs] ([ID], [CustomerID], [Expire_Start], [Expire_End], [IsUSD], [USDRate], [IsDeleted], [UpdatedBy], [Total_In], [Total_Out], [LastestUpdated], [Description], [DecreasePercentForSecondCont], [JobID]) VALUES (1, 2, CAST(N'2017-03-01 00:00:00.000' AS DateTime), CAST(N'2017-03-31 00:00:00.000' AS DateTime), 0, 0, 0, 2, 0, 0, CAST(N'2017-03-21 02:46:29.330' AS DateTime), N'', 50, 4)
INSERT [dbo].[CustomerQuotation_Customs] ([ID], [CustomerID], [Expire_Start], [Expire_End], [IsUSD], [USDRate], [IsDeleted], [UpdatedBy], [Total_In], [Total_Out], [LastestUpdated], [Description], [DecreasePercentForSecondCont], [JobID]) VALUES (2, 2, CAST(N'2017-03-01 00:00:00.000' AS DateTime), CAST(N'2017-03-31 00:00:00.000' AS DateTime), 0, 0, 0, 2, 0, 0, CAST(N'2017-03-25 02:47:20.310' AS DateTime), N'', 50, 11)
SET IDENTITY_INSERT [dbo].[CustomerQuotation_Customs] OFF
SET IDENTITY_INSERT [dbo].[CustomerQuotation_CustomsDetails] ON 

INSERT [dbo].[CustomerQuotation_CustomsDetails] ([ID], [QuotationID], [FeeDetailID], [IsDeleted], [LastestUpdated], [UpdatedBy], [Description], [Quantity], [Total], [Order]) VALUES (1, 1, 6, 0, CAST(N'2017-03-21 02:46:29.393' AS DateTime), 2, N'', 2, 1200000, 1)
INSERT [dbo].[CustomerQuotation_CustomsDetails] ([ID], [QuotationID], [FeeDetailID], [IsDeleted], [LastestUpdated], [UpdatedBy], [Description], [Quantity], [Total], [Order]) VALUES (2, 1, 7, 0, CAST(N'2017-03-21 02:46:29.377' AS DateTime), 2, N'', 2, 0, 1)
INSERT [dbo].[CustomerQuotation_CustomsDetails] ([ID], [QuotationID], [FeeDetailID], [IsDeleted], [LastestUpdated], [UpdatedBy], [Description], [Quantity], [Total], [Order]) VALUES (3, 2, 7, 0, CAST(N'2017-03-25 02:47:20.373' AS DateTime), 2, N'', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[CustomerQuotation_CustomsDetails] OFF
SET IDENTITY_INSERT [dbo].[CustomerQuotation_Routes] ON 

INSERT [dbo].[CustomerQuotation_Routes] ([ID], [CustomerID], [QuotationID], [Price], [Expire_Start], [Expire_End], [IsDeleted], [UpdatedBy], [LastestUpdated], [IsUSD], [PlaceStart], [PlaceEnd]) VALUES (1, 2, 1, 1700000, CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2017-12-31 00:00:00.000' AS DateTime), 0, 2, CAST(N'2017-03-17 07:40:39.343' AS DateTime), 0, 1, 74)
SET IDENTITY_INSERT [dbo].[CustomerQuotation_Routes] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [Name], [Address], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Prepaids]) VALUES (1, N'2. Cty TNHH Nagase Việt Nam', N'Phòng 1403, Tòa Nhà Vincom Center, 70-72 Lê Thánh Tôn, Q. 1,Tp. Hồ Chí Minh', N'', N'', 0, CAST(N'2017-03-03 15:43:26.907' AS DateTime), 2, 0)
INSERT [dbo].[Customers] ([ID], [Name], [Address], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Prepaids]) VALUES (2, N'1. Cty TNHH Sumitomo Warehouse Việt Nam ', N'26 Hàm Nghi, Bến Nghé, Quận 1, Hồ Chí Minh', N'', N'', 0, CAST(N'2017-03-17 05:30:47.813' AS DateTime), 2, 0)
INSERT [dbo].[Customers] ([ID], [Name], [Address], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Prepaids]) VALUES (3, N'Công ty TNHH MTV SX - TM thực phẩm  CÔNG DANH', N'25/11N Ấp Xuân Thới Đông 1, Xã Xuân Thới Đông, Hóc Môn, TP.HCM', N'nguyenthanhcong78@yahoo.com,', N'(084) 08 62545276 - Fax: (084) 62545273', 0, CAST(N'2017-03-03 15:50:41.157' AS DateTime), 2, 0)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[CustomsProcess_FeeTypes] ON 

INSERT [dbo].[CustomsProcess_FeeTypes] ([ID], [Name], [Description], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (1, N'1. Đăng ký', N'', 1, CAST(N'2017-03-04 03:04:24.610' AS DateTime), 2)
INSERT [dbo].[CustomsProcess_FeeTypes] ([ID], [Name], [Description], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (2, N'2. Kiểm hóa', N'', 1, CAST(N'2017-03-04 03:04:28.443' AS DateTime), 2)
INSERT [dbo].[CustomsProcess_FeeTypes] ([ID], [Name], [Description], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (3, N'Dỡ cont rỗng', N'', 1, CAST(N'2017-03-04 03:04:41.773' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[CustomsProcess_FeeTypes] OFF
SET IDENTITY_INSERT [dbo].[CustomsProcess_QuotationDetails] ON 

INSERT [dbo].[CustomsProcess_QuotationDetails] ([ID], [QuotationID], [CustomsFeeID], [Price], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (1, 2, 1, 0, 0, CAST(N'2017-03-25 02:45:37.947' AS DateTime), 2)
INSERT [dbo].[CustomsProcess_QuotationDetails] ([ID], [QuotationID], [CustomsFeeID], [Price], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (2, 2, 2, 0, 0, CAST(N'2017-03-25 02:45:37.977' AS DateTime), 2)
INSERT [dbo].[CustomsProcess_QuotationDetails] ([ID], [QuotationID], [CustomsFeeID], [Price], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (3, 2, 4, 0, 0, CAST(N'2017-03-25 02:45:37.977' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[CustomsProcess_QuotationDetails] OFF
SET IDENTITY_INSERT [dbo].[CustomsProcess_Quotations] ON 

INSERT [dbo].[CustomsProcess_Quotations] ([ID], [ExpireFrom], [IsDeleted], [LastestUpdated], [UpdatedBy], [IsUSD]) VALUES (2, CAST(N'2017-03-17 00:00:00.000' AS DateTime), 0, CAST(N'2017-03-25 02:45:37.900' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[CustomsProcess_Quotations] OFF
SET IDENTITY_INSERT [dbo].[GoodsTypes] ON 

INSERT [dbo].[GoodsTypes] ([ID], [Name], [Code], [Description], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (1, N'Hàng lẻ', N'LCL', N'Hàng chở xe tải', 0, 1, CAST(N'2017-02-17 22:29:55.347' AS DateTime))
INSERT [dbo].[GoodsTypes] ([ID], [Name], [Code], [Description], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (2, N'Hàng cont', N'FCL', N'Hàng chở xe container', 0, 1, CAST(N'2017-02-17 22:35:03.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[GoodsTypes] OFF
SET IDENTITY_INSERT [dbo].[Job_InOutFees] ON 

INSERT [dbo].[Job_InOutFees] ([ID], [JobID], [Name], [Company], [InvoiceNO], [InvoiceDate], [Money], [AttachedFiles], [IsDeleted], [LastestUpdated], [UpdatedBy], [IsUSD]) VALUES (1, 1, N'Test 1', N'Test 1', N'12345', CAST(N'2017-03-01 00:00:00.000' AS DateTime), 5555555, N'~/uploads/jobs/1/ThuChiHo/636256246096934800.png', 0, CAST(N'2017-03-20 16:36:49.710' AS DateTime), 1, 0)
INSERT [dbo].[Job_InOutFees] ([ID], [JobID], [Name], [Company], [InvoiceNO], [InvoiceDate], [Money], [AttachedFiles], [IsDeleted], [LastestUpdated], [UpdatedBy], [IsUSD]) VALUES (2, 4, N'Hoá đơn Cảng ', N'Sài Gòn Port', N'123456', CAST(N'2017-03-02 00:00:00.000' AS DateTime), 22000, N'~/uploads/jobs/4/ThuChiHo/636256495053752452.jpg', 0, CAST(N'2017-03-24 15:17:39.197' AS DateTime), 2, 1)
INSERT [dbo].[Job_InOutFees] ([ID], [JobID], [Name], [Company], [InvoiceNO], [InvoiceDate], [Money], [AttachedFiles], [IsDeleted], [LastestUpdated], [UpdatedBy], [IsUSD]) VALUES (3, 8, N'1', N'1', N'1', CAST(N'2017-03-16 00:00:00.000' AS DateTime), 0, N'~/uploads/jobs/8/ThuChiHo/636256937360444688.jpg', 0, CAST(N'2017-03-21 11:48:56.060' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Job_InOutFees] OFF
SET IDENTITY_INSERT [dbo].[Job_QuotationRoutes] ON 

INSERT [dbo].[Job_QuotationRoutes] ([ID], [JobID], [RouteID], [Description], [ExtraFee], [DriverPhoneNumber], [VehicleNO], [Status], [IsDeleted], [LastestUpdate], [UpdatedBy], [USDRate], [Loads], [PromotionByTransComp], [Total_Out], [Total_In], [PlaceStart], [PlaceEnd], [Quantity]) VALUES (1, 4, 1, N'', 0, N'', N'', 0, 0, CAST(N'2017-03-17 07:40:39.403' AS DateTime), 2, 0, 0, 0, 1700000, 1700000, 1, 74, 1)
SET IDENTITY_INSERT [dbo].[Job_QuotationRoutes] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Quotation_Routes] ON 

INSERT [dbo].[Quotation_Routes] ([ID], [RouteID], [VehicleLoadID], [Price], [IsSamePrice], [Price_RoundedTrip], [Expire_Start], [Expire_End], [IsDeleted], [UpdatedBy], [LastestUpdated], [IsUSD]) VALUES (1, 1, 1, 1700000, 0, 0, CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2017-12-31 00:00:00.000' AS DateTime), 0, 2, CAST(N'2017-03-10 15:27:02.147' AS DateTime), 0)
INSERT [dbo].[Quotation_Routes] ([ID], [RouteID], [VehicleLoadID], [Price], [IsSamePrice], [Price_RoundedTrip], [Expire_Start], [Expire_End], [IsDeleted], [UpdatedBy], [LastestUpdated], [IsUSD]) VALUES (2, 1, 2, 1700000, 0, 0, CAST(N'2017-01-01 00:00:00.000' AS DateTime), CAST(N'2017-12-31 00:00:00.000' AS DateTime), 0, 2, CAST(N'2017-03-11 09:11:07.690' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Quotation_Routes] OFF
SET IDENTITY_INSERT [dbo].[Sys_Modules] ON 

INSERT [dbo].[Sys_Modules] ([ID], [Name], [Alias], [Path], [IconClass], [ParentID], [Level], [Description], [Actions], [IsDeleted], [ShowInMenu]) VALUES (1, N'Danh mục', N'danh-muc', N'#', N'gi gi-show_thumbnails', -2147483648, 0, N'Danh mục', N'@0;', 0, 1)
INSERT [dbo].[Sys_Modules] ([ID], [Name], [Alias], [Path], [IconClass], [ParentID], [Level], [Description], [Actions], [IsDeleted], [ShowInMenu]) VALUES (2, N'Loại hàng hóa', N'loai-hang-hoa', N'~/modules/functions/GoodsTypes.ascx', N'gi gi-cargo', 1, 1, N'Loại hàng hóa', N'@0;@1;@2;@3;', 0, 1)
INSERT [dbo].[Sys_Modules] ([ID], [Name], [Alias], [Path], [IconClass], [ParentID], [Level], [Description], [Actions], [IsDeleted], [ShowInMenu]) VALUES (3, N'Loại xe', N'loai-xe', N'~/modules/functions/VehicleTypes.ascx', N'gi gi-truck', 1, 1, N'Loại xe', N'@0;@1;@2;@3;', 0, 1)
SET IDENTITY_INSERT [dbo].[Sys_Modules] OFF
SET IDENTITY_INSERT [dbo].[Sys_Permissions] ON 

INSERT [dbo].[Sys_Permissions] ([ID], [RoleID], [ModuleID], [Permissions]) VALUES (1, 4, 1, N'@0;')
INSERT [dbo].[Sys_Permissions] ([ID], [RoleID], [ModuleID], [Permissions]) VALUES (2, 4, 2, N'@0;@1;@2;@3;')
INSERT [dbo].[Sys_Permissions] ([ID], [RoleID], [ModuleID], [Permissions]) VALUES (3, 4, 3, N'@0;@1;@2;@3;')
SET IDENTITY_INSERT [dbo].[Sys_Permissions] OFF
SET IDENTITY_INSERT [dbo].[Sys_Roles] ON 

INSERT [dbo].[Sys_Roles] ([ID], [Name], [Description], [CanAccessSystemMenu], [IsDeleted]) VALUES (1, N'God Administrator', N'God Administrators', 1, 0)
INSERT [dbo].[Sys_Roles] ([ID], [Name], [Description], [CanAccessSystemMenu], [IsDeleted]) VALUES (2, N'Nhân viên hiện trường', N'Nhân viên hiện trường', 0, 0)
INSERT [dbo].[Sys_Roles] ([ID], [Name], [Description], [CanAccessSystemMenu], [IsDeleted]) VALUES (3, N'Kế toán', N'Kế toán', 0, 0)
SET IDENTITY_INSERT [dbo].[Sys_Roles] OFF
SET IDENTITY_INSERT [dbo].[Sys_Users] ON 

INSERT [dbo].[Sys_Users] ([ID], [Firstname], [Lastname], [Email], [Username], [Password], [DateOfBirth], [Avatar], [Address], [PhoneNumber], [Status], [RoleID], [IsDeleted]) VALUES (1, N'God', N'Administrator', N'Administrator@sl.com', N'GodAdministrator', N'D20616B153DBEF09830CEE32DFE2AE96DD758F56781DD200985DEB9B628136F2', CAST(N'2017-03-09 15:16:30.457' AS DateTime), N'', N'', N'093.5757.345', 1, 1, 0)
INSERT [dbo].[Sys_Users] ([ID], [Firstname], [Lastname], [Email], [Username], [Password], [DateOfBirth], [Avatar], [Address], [PhoneNumber], [Status], [RoleID], [IsDeleted]) VALUES (2, N' Mạnh Hà', N'Ngô', N'smilelogistics.vn@gmail.com', N'smile', N'451DD78611258359B9F732C845BCC42C', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'~/uploads/avatars/636242358366133457.jpg', N'', N'', 1, 4, 0)
INSERT [dbo].[Sys_Users] ([ID], [Firstname], [Lastname], [Email], [Username], [Password], [DateOfBirth], [Avatar], [Address], [PhoneNumber], [Status], [RoleID], [IsDeleted]) VALUES (3, N'Đạt', N'Nguyễn Thành', N'dat.vanchuyenquocte@gmail.com', N'dat.vanchuyenquocte@gmail.com', N'451DD78611258359B9F732C845BCC42C', CAST(N'1900-01-01 00:00:00.000' AS DateTime), N'~/img/logo.jpg', N'60/2/1 Ung Văn Khiêm, P.25, Q.Bình Thạnh, TP.HCM', N'0946777657', 1, 4, 0)
SET IDENTITY_INSERT [dbo].[Sys_Users] OFF
SET IDENTITY_INSERT [dbo].[TransportCompanies] ON 

INSERT [dbo].[TransportCompanies] ([ID], [Name], [Address], [PhoneNumber], [Email], [Status], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (1, N'Cty TNHH Hàn Việt Mỹ', N'HCM', N'', N'', 0, 0, CAST(N'2017-03-08 18:08:32.497' AS DateTime), 1)
INSERT [dbo].[TransportCompanies] ([ID], [Name], [Address], [PhoneNumber], [Email], [Status], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (2, N'DNTN Vận tải Vân Huyền', N'81 Đường số 1, Khu B, Phường An Phú An Khánh Q2', N'0838960775', N'vtvanhuyen@yahoo.com.vn', 0, 0, CAST(N'2017-03-10 15:25:18.680' AS DateTime), 2)
INSERT [dbo].[TransportCompanies] ([ID], [Name], [Address], [PhoneNumber], [Email], [Status], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (3, N'Cty TNHH MTV TM DV Vận tải Lâm Phát', N'264/35/21A NTMK, P. Phú Hòa, TP. TDM, Bình Dương; Kios 270 Thống Nhất, F10. GV', N'0961.623.338 / 0918.307.488', N'', 0, 0, CAST(N'2017-03-08 18:08:24.463' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TransportCompanies] OFF
SET IDENTITY_INSERT [dbo].[TransportCompany_Routes] ON 

INSERT [dbo].[TransportCompany_Routes] ([ID], [TransCompID], [StartPoint], [EndPoint], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (1, 2, 1, 74, 0, CAST(N'2017-03-10 15:22:16.943' AS DateTime), 2)
INSERT [dbo].[TransportCompany_Routes] ([ID], [TransCompID], [StartPoint], [EndPoint], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (2, 2, 1, 75, 0, CAST(N'2017-03-10 15:22:34.883' AS DateTime), 2)
INSERT [dbo].[TransportCompany_Routes] ([ID], [TransCompID], [StartPoint], [EndPoint], [IsDeleted], [LastestUpdated], [UpdatedBy]) VALUES (3, 2, 1, 106, 0, CAST(N'2017-03-10 15:23:02.790' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[TransportCompany_Routes] OFF
SET IDENTITY_INSERT [dbo].[TransportCompany_VehicleType_Loads] ON 

INSERT [dbo].[TransportCompany_VehicleType_Loads] ([ID], [TransComp_VehicleTypeID], [VehicleLoadID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (1, 1, 6, 0, 2, CAST(N'2017-03-10 15:25:18.760' AS DateTime))
INSERT [dbo].[TransportCompany_VehicleType_Loads] ([ID], [TransComp_VehicleTypeID], [VehicleLoadID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (2, 1, 7, 0, 2, CAST(N'2017-03-10 15:25:18.773' AS DateTime))
INSERT [dbo].[TransportCompany_VehicleType_Loads] ([ID], [TransComp_VehicleTypeID], [VehicleLoadID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (3, 1, 8, 0, 2, CAST(N'2017-03-10 15:25:18.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[TransportCompany_VehicleType_Loads] OFF
SET IDENTITY_INSERT [dbo].[TransportCompany_VehicleTypes] ON 

INSERT [dbo].[TransportCompany_VehicleTypes] ([ID], [TransCompID], [VehicleTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (1, 2, 2, 0, 2, CAST(N'2017-03-10 15:25:18.727' AS DateTime))
INSERT [dbo].[TransportCompany_VehicleTypes] ([ID], [TransCompID], [VehicleTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (2, 4, 1, 0, 2, CAST(N'2017-03-11 09:25:35.063' AS DateTime))
SET IDENTITY_INSERT [dbo].[TransportCompany_VehicleTypes] OFF
SET IDENTITY_INSERT [dbo].[TransportPlaces] ON 

INSERT [dbo].[TransportPlaces] ([ID], [Name], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Address]) VALUES (1, N'1. Cảng Cát Lái', N'', N'', 0, CAST(N'2017-03-03 08:14:56.357' AS DateTime), 2, N'Đường Nguyễn Thị Định, P. Cát Lái, Q.2, TP.HCM')
INSERT [dbo].[TransportPlaces] ([ID], [Name], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Address]) VALUES (2, N'Kho Long Thành', N'', N'', 1, CAST(N'2017-03-03 08:42:56.320' AS DateTime), 2, N'')
INSERT [dbo].[TransportPlaces] ([ID], [Name], [Email], [PhoneNumber], [IsDeleted], [LastestUpdated], [UpdatedBy], [Address]) VALUES (3, N'Cảng Sóng Thần', N'', N'', 1, CAST(N'2017-03-03 06:47:10.797' AS DateTime), 2, N'')
SET IDENTITY_INSERT [dbo].[TransportPlaces] OFF
SET IDENTITY_INSERT [dbo].[VehicleLoads] ON 

INSERT [dbo].[VehicleLoads] ([ID], [Name], [Code], [Description], [FullLoad], [VehicleTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (1, N'Tải 1 tấn', N'1T', N'Tải 1 tấn', 1, 1, 0, 2, CAST(N'2017-03-03 15:40:29.763' AS DateTime))
INSERT [dbo].[VehicleLoads] ([ID], [Name], [Code], [Description], [FullLoad], [VehicleTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (2, N'Tải 2 tấn', N'2T', N'Tải 2 tấn', 2, 1, 0, 2, CAST(N'2017-03-03 15:40:44.037' AS DateTime))
INSERT [dbo].[VehicleLoads] ([ID], [Name], [Code], [Description], [FullLoad], [VehicleTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (3, N'Tải 3 tấn', N'3T', N'Tải 3 tấn', 3, 1, 0, 2, CAST(N'2017-03-03 15:40:56.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[VehicleLoads] OFF
SET IDENTITY_INSERT [dbo].[VehicleTypes] ON 

INSERT [dbo].[VehicleTypes] ([ID], [Name], [Code], [Description], [GoodsTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (1, N'Xe tải', N'Truck', N'Xe tải', 1, 0, 1, CAST(N'2017-02-17 22:57:09.000' AS DateTime))
INSERT [dbo].[VehicleTypes] ([ID], [Name], [Code], [Description], [GoodsTypeID], [IsDeleted], [UpdatedBy], [LastestUpdated]) VALUES (2, N'Xe container', N'Container', N'Xe container', 2, 0, 1, CAST(N'2017-02-17 22:58:29.890' AS DateTime))
SET IDENTITY_INSERT [dbo].[VehicleTypes] OFF
ALTER TABLE [dbo].[Agent_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Prepaids_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Agent_Prepaids] CHECK CONSTRAINT [FK_Prepaids_Jobs]
GO
ALTER TABLE [dbo].[Agent_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Prepaids_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Agent_Prepaids] CHECK CONSTRAINT [FK_Prepaids_Sys_Users]
GO
ALTER TABLE [dbo].[Customer_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Prepaids_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Customer_Prepaids] CHECK CONSTRAINT [FK_Customer_Prepaids_Customers]
GO
ALTER TABLE [dbo].[Customer_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Prepaids_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Customer_Prepaids] CHECK CONSTRAINT [FK_Customer_Prepaids_Sys_Users]
GO
ALTER TABLE [dbo].[CustomerQuotation_Customs]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_Customs_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_Customs] CHECK CONSTRAINT [FK_CustomerQuotation_Customs_Jobs]
GO
ALTER TABLE [dbo].[CustomerQuotation_Customs]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_Customs_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_Customs] CHECK CONSTRAINT [FK_CustomerQuotation_Customs_Sys_Users]
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_CustomsDetails_CustomerQuotation_Customs] FOREIGN KEY([QuotationID])
REFERENCES [dbo].[CustomerQuotation_Customs] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails] CHECK CONSTRAINT [FK_CustomerQuotation_CustomsDetails_CustomerQuotation_Customs]
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_CustomsDetails_CustomsProcess_QuotationDetails] FOREIGN KEY([FeeDetailID])
REFERENCES [dbo].[CustomsProcess_QuotationDetails] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails] CHECK CONSTRAINT [FK_CustomerQuotation_CustomsDetails_CustomsProcess_QuotationDetails]
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_CustomsDetails_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_CustomsDetails] CHECK CONSTRAINT [FK_CustomerQuotation_CustomsDetails_Sys_Users]
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_Routes_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes] CHECK CONSTRAINT [FK_CustomerQuotation_Routes_Customers]
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_Routes_Quotation_Routes] FOREIGN KEY([QuotationID])
REFERENCES [dbo].[Quotation_Routes] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes] CHECK CONSTRAINT [FK_CustomerQuotation_Routes_Quotation_Routes]
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_CustomerQuotation_Routes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomerQuotation_Routes] CHECK CONSTRAINT [FK_CustomerQuotation_Routes_Sys_Users]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Sys_Users]
GO
ALTER TABLE [dbo].[CustomsProcess_FeeTypes]  WITH CHECK ADD  CONSTRAINT [FK_CustomsProcess_FeeTypes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomsProcess_FeeTypes] CHECK CONSTRAINT [FK_CustomsProcess_FeeTypes_Sys_Users]
GO
ALTER TABLE [dbo].[CustomsProcess_QuotationDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomsProcess_QuotationDetails_CustomsProcess_Quotations] FOREIGN KEY([QuotationID])
REFERENCES [dbo].[CustomsProcess_Quotations] ([ID])
GO
ALTER TABLE [dbo].[CustomsProcess_QuotationDetails] CHECK CONSTRAINT [FK_CustomsProcess_QuotationDetails_CustomsProcess_Quotations]
GO
ALTER TABLE [dbo].[CustomsProcess_QuotationDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomsProcess_QuotationDetails_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomsProcess_QuotationDetails] CHECK CONSTRAINT [FK_CustomsProcess_QuotationDetails_Sys_Users]
GO
ALTER TABLE [dbo].[CustomsProcess_Quotations]  WITH CHECK ADD  CONSTRAINT [FK_CustomsProcess_Quotations_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[CustomsProcess_Quotations] CHECK CONSTRAINT [FK_CustomsProcess_Quotations_Sys_Users]
GO
ALTER TABLE [dbo].[GoodsTypes]  WITH CHECK ADD  CONSTRAINT [FK_GoodsTypes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[GoodsTypes] CHECK CONSTRAINT [FK_GoodsTypes_Sys_Users]
GO
ALTER TABLE [dbo].[Job_InOutFees]  WITH CHECK ADD  CONSTRAINT [FK_Job_InOutFees_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Job_InOutFees] CHECK CONSTRAINT [FK_Job_InOutFees_Jobs]
GO
ALTER TABLE [dbo].[Job_InOutFees]  WITH CHECK ADD  CONSTRAINT [FK_Job_InOutFees_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Job_InOutFees] CHECK CONSTRAINT [FK_Job_InOutFees_Sys_Users]
GO
ALTER TABLE [dbo].[Job_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Job_Prepaids_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Job_Prepaids] CHECK CONSTRAINT [FK_Job_Prepaids_Jobs]
GO
ALTER TABLE [dbo].[Job_Prepaids]  WITH CHECK ADD  CONSTRAINT [FK_Job_Prepaids_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Job_Prepaids] CHECK CONSTRAINT [FK_Job_Prepaids_Sys_Users]
GO
ALTER TABLE [dbo].[Job_QuotationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_Job_QuotationRoutes_CustomerQuotation_Routes] FOREIGN KEY([RouteID])
REFERENCES [dbo].[CustomerQuotation_Routes] ([ID])
GO
ALTER TABLE [dbo].[Job_QuotationRoutes] CHECK CONSTRAINT [FK_Job_QuotationRoutes_CustomerQuotation_Routes]
GO
ALTER TABLE [dbo].[Job_QuotationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_Job_QuotationRoutes_Jobs] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([ID])
GO
ALTER TABLE [dbo].[Job_QuotationRoutes] CHECK CONSTRAINT [FK_Job_QuotationRoutes_Jobs]
GO
ALTER TABLE [dbo].[Job_QuotationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_Job_QuotationRoutes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Job_QuotationRoutes] CHECK CONSTRAINT [FK_Job_QuotationRoutes_Sys_Users]
GO
ALTER TABLE [dbo].[Job_QuotationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_Job_QuotationRoutes_TransportPlaces] FOREIGN KEY([PlaceStart])
REFERENCES [dbo].[TransportPlaces] ([ID])
GO
ALTER TABLE [dbo].[Job_QuotationRoutes] CHECK CONSTRAINT [FK_Job_QuotationRoutes_TransportPlaces]
GO
ALTER TABLE [dbo].[Job_QuotationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_Job_QuotationRoutes_TransportPlaces1] FOREIGN KEY([PlaceEnd])
REFERENCES [dbo].[TransportPlaces] ([ID])
GO
ALTER TABLE [dbo].[Job_QuotationRoutes] CHECK CONSTRAINT [FK_Job_QuotationRoutes_TransportPlaces1]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Customers]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_Sys_Users]
GO
ALTER TABLE [dbo].[Quotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Routes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[Quotation_Routes] CHECK CONSTRAINT [FK_Quotation_Routes_Sys_Users]
GO
ALTER TABLE [dbo].[Quotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Routes_TransportCompany_Routes] FOREIGN KEY([RouteID])
REFERENCES [dbo].[TransportCompany_Routes] ([ID])
GO
ALTER TABLE [dbo].[Quotation_Routes] CHECK CONSTRAINT [FK_Quotation_Routes_TransportCompany_Routes]
GO
ALTER TABLE [dbo].[Quotation_Routes]  WITH CHECK ADD  CONSTRAINT [FK_Quotation_Routes_TransportCompany_VehicleType_Loads] FOREIGN KEY([VehicleLoadID])
REFERENCES [dbo].[TransportCompany_VehicleType_Loads] ([ID])
GO
ALTER TABLE [dbo].[Quotation_Routes] CHECK CONSTRAINT [FK_Quotation_Routes_TransportCompany_VehicleType_Loads]
GO
ALTER TABLE [dbo].[Sys_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Sys_Permissions_Sys_Modules] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Sys_Modules] ([ID])
GO
ALTER TABLE [dbo].[Sys_Permissions] CHECK CONSTRAINT [FK_Sys_Permissions_Sys_Modules]
GO
ALTER TABLE [dbo].[Sys_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Sys_Permissions_Sys_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Sys_Roles] ([ID])
GO
ALTER TABLE [dbo].[Sys_Permissions] CHECK CONSTRAINT [FK_Sys_Permissions_Sys_Roles]
GO
ALTER TABLE [dbo].[Sys_Users]  WITH CHECK ADD  CONSTRAINT [FK_Sys_Users_Sys_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Sys_Roles] ([ID])
GO
ALTER TABLE [dbo].[Sys_Users] CHECK CONSTRAINT [FK_Sys_Users_Sys_Roles]
GO
ALTER TABLE [dbo].[TransportCompanies]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompanies_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[TransportCompanies] CHECK CONSTRAINT [FK_TransportCompanies_Sys_Users]
GO
ALTER TABLE [dbo].[TransportCompany_Routes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_Routes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_Routes] CHECK CONSTRAINT [FK_TransportCompany_Routes_Sys_Users]
GO
ALTER TABLE [dbo].[TransportCompany_Routes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_Routes_TransportCompanies] FOREIGN KEY([TransCompID])
REFERENCES [dbo].[TransportCompanies] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_Routes] CHECK CONSTRAINT [FK_TransportCompany_Routes_TransportCompanies]
GO
ALTER TABLE [dbo].[TransportCompany_Routes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_Routes_TransportPlaces] FOREIGN KEY([StartPoint])
REFERENCES [dbo].[TransportPlaces] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_Routes] CHECK CONSTRAINT [FK_TransportCompany_Routes_TransportPlaces]
GO
ALTER TABLE [dbo].[TransportCompany_Routes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_Routes_TransportPlaces1] FOREIGN KEY([EndPoint])
REFERENCES [dbo].[TransportPlaces] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_Routes] CHECK CONSTRAINT [FK_TransportCompany_Routes_TransportPlaces1]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleType_Loads_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads] CHECK CONSTRAINT [FK_TransportCompany_VehicleType_Loads_Sys_Users]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleType_Loads_TransportCompany_VehicleTypes] FOREIGN KEY([TransComp_VehicleTypeID])
REFERENCES [dbo].[TransportCompany_VehicleTypes] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads] CHECK CONSTRAINT [FK_TransportCompany_VehicleType_Loads_TransportCompany_VehicleTypes]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleType_Loads_VehicleLoads] FOREIGN KEY([VehicleLoadID])
REFERENCES [dbo].[VehicleLoads] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleType_Loads] CHECK CONSTRAINT [FK_TransportCompany_VehicleType_Loads_VehicleLoads]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleTypes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes] CHECK CONSTRAINT [FK_TransportCompany_VehicleTypes_Sys_Users]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleTypes_TransportCompanies] FOREIGN KEY([TransCompID])
REFERENCES [dbo].[TransportCompanies] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes] CHECK CONSTRAINT [FK_TransportCompany_VehicleTypes_TransportCompanies]
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes]  WITH CHECK ADD  CONSTRAINT [FK_TransportCompany_VehicleTypes_VehicleTypes] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([ID])
GO
ALTER TABLE [dbo].[TransportCompany_VehicleTypes] CHECK CONSTRAINT [FK_TransportCompany_VehicleTypes_VehicleTypes]
GO
ALTER TABLE [dbo].[TransportPlaces]  WITH CHECK ADD  CONSTRAINT [FK_TransportPlaces_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[TransportPlaces] CHECK CONSTRAINT [FK_TransportPlaces_Sys_Users]
GO
ALTER TABLE [dbo].[VehicleLoads]  WITH CHECK ADD  CONSTRAINT [FK_VehicleLoads_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[VehicleLoads] CHECK CONSTRAINT [FK_VehicleLoads_Sys_Users]
GO
ALTER TABLE [dbo].[VehicleLoads]  WITH CHECK ADD  CONSTRAINT [FK_VehicleLoads_VehicleTypes] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleTypes] ([ID])
GO
ALTER TABLE [dbo].[VehicleLoads] CHECK CONSTRAINT [FK_VehicleLoads_VehicleTypes]
GO
ALTER TABLE [dbo].[VehicleTypes]  WITH CHECK ADD  CONSTRAINT [FK_VehicleTypes_GoodsTypes] FOREIGN KEY([GoodsTypeID])
REFERENCES [dbo].[GoodsTypes] ([ID])
GO
ALTER TABLE [dbo].[VehicleTypes] CHECK CONSTRAINT [FK_VehicleTypes_GoodsTypes]
GO
ALTER TABLE [dbo].[VehicleTypes]  WITH CHECK ADD  CONSTRAINT [FK_VehicleTypes_Sys_Users] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Sys_Users] ([ID])
GO
ALTER TABLE [dbo].[VehicleTypes] CHECK CONSTRAINT [FK_VehicleTypes_Sys_Users]
GO
